<div class="paging shadow-s">
  <ul uib-pagination total-items="vm.pagingData.totalCount"
      ng-model="vm.pagingData.pageNumber"
      ng-change="vm.onPageChange()"
      max-size="5"
      class="pagination-sm"
      boundary-link-numbers="true"
      rotate="false"></ul>
  <div class="spacer"></div>
  <select ng-change="vm.onSortChange()" ng-model="vm.selectedSortOption" class="form-control select-sort" id="sort">
    <option ng-repeat="sort in vm.sortOptions" ng-value="sort">{{sort.name}}</option>
  </select>
  <input class="form-control input-search" type="text" ng-model="vm.searchInput" placeholder="Search products"/>

  <div class="btn btn-default search-btn" ng-click="vm.loadProducts()">Search</div>
</div>

<div class="products-container">

  <product-card product=product ng-repeat="product in vm.products">
  </product-card>
</div>
